@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
    --bg-blue: #F9286D;
    --bg-blue-light: #FA3B62;
    --bg-orange: #FC654B;
    --bg-orange-dark: #ca462f;
    --contrast-primary: #424242;
    --contrast-secondary: #ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
#conteudo {
    width: 100%;
}
.d-contents {
    display: contents;
}
.c-pointer {
    cursor: pointer;
}
/* .btn-primary {
    background: var(--bg-blue);
    outline-color: var(--bg-blue);

    &:hover {
        background: var(--bg-orange);
        border-color: var(--bg-blue-light);
    }

    &:active {
        background: var(--bg-orange-dark) !important;
        border-color: var(--bg-orange) !important;
        box-shadow: inset 0 0 0 2px var(--bg-orange) !important;
    }

    &:focus {
        background: var(--bg-blue);
        border-color: var(--bg-blue-light);
        box-shadow: none;
    }
} */
button {
    background-color: var(--bg-blue-light);

    &:hover {
        background-color: var(--bg-blue);
        border-color: var(--bg-blue-light);
    }

    &:active {
        background-color: var(--bg-orange-dark) !important;
        border-color: var(--bg-orange) !important;
        box-shadow: inset 0 0 0 2px var(--bg-orange) !important;
    }

    &:focus {
        background-color: var(--bg-blue-light);
        border-color: var(--bg-blue);
        box-shadow: none;
        outline: none;
    }
}
/* Estilo para erro */
.input-error {
    border: 2px solid #ff4d4d !important;
    padding: 8px 13px !important;
    animation: shake 0.3s;
}
/* Animação de tremor */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}
select:focus,
textarea:focus,
input:focus {
    outline: none;
}
